@tailwind base;
@tailwind components;
@tailwind utilities;

/* enlarging size of loading toast spinner */
.go1858758034 {
  width: 16px !important;
  height: 16px !important;
}

/* Modifying scrollbar UI */
@media screen and (min-width: 500px) {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: #ffffffdd;
  }
}

textarea {
  resize: vertical;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #4c4c4c;
}

/* Blink effect for timerExpired time string */
.blink-hard {
  animation: blinker 1s step-end 27;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Modifying timer swiper UI */
#swiper {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  color: white;

  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

/* Custom CheckBox */
input[type='checkbox'] {
  accent-color: #8875ff;
}
