@tailwind base;
@tailwind components;
@tailwind utilities;

/* enlarging size of loading toast spinner */
.go1858758034 {
  width: 16px !important;
  height: 16px !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  width: 12px;
  background-color: #ffffffdd;
}

.blink-hard {
  animation: blinker 1s step-end 5;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
